@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html,
body {
  background-color: rgb(220,90,0);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#video {
  /* width: 100%; */
  text-align: center;
  /* height: 100vh; */
}
